* {
  padding: 0;
}

body {
  background-color: #1D232F;
  background-image: url("images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: center 16rem;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1B2330;
  margin-top: 2rem;
}

nav ul {
  display: flex;
  color: #fff;
}

nav li {
  list-style: none;
  margin-left: 2rem;
} 

nav img {
  width: 100px;
  height: 35px;
}

h2, .content p {
  color: #fff;
  margin-top: 1rem;
}

h2 {
  font-size: 1.5rem;
  width: 35%;
}

.content {
  transform: translate(35%, 5%);
}

.content p {
  font-size: 1rem;
  width: 30%;
}

.content img {
  width: 300px;
  height: 200px;
}

.content button {
  width: 120px;
  height: 30px;
  color: #fff;
  border-radius: 20px;
  background-image: linear-gradient(#4DC5D3, #41AFD0);
  border: 0;
  margin-left: 5rem;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7rem;
}

.card {
  width: 35%;
  margin-top: 5rem;
  margin-left: 7rem;
}

.icon {
  margin-left: 5rem;
}

h3 {
  font-size: 1.5rem;
  color: #fff;
}

span {
  font-size: 1rem;
  color: #fff;
}

.productivity {
  display: flex;
  margin-top: 8rem;
  margin-left: 12rem;
}


.productivity img {
  width: 400px;
  height: 300px;
}

.product-content {
  width: 50%;
  margin-left: 2rem;
}

h4 {
  color: #fff;
  font-size: 1.5rem;
}

.see-how {
  display: flex;
}

#arrow {
  width: 30px;
  height: 30px;
  margin-top: 2.3rem;
  margin-left: 5px;
}

.review {
  margin-top: 10rem;
  margin-left: 12rem;
}


.review-persons {
  display: flex;
  margin-top: -20px;
}

.person {
  width: 25%;
  height: 150px;
  border-radius: 10px;
  background-color: #21293C;
  margin-left: 2rem;
}


/* footer */

footer {
  background-color: #0C1524;
}

#footer-logo {
  margin-top: 10rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  width: 100px;
  height: 35px;
} 

.social-icon {
  width: 20px;
  height: 20px;
}

.footer-content {
  display: flex;
  /* margin-left: 10rem; */
}

.group {
  width: 20%;
  margin-left: 3rem;
  margin-top: 2rem;
}

.locate {
  width: 30%;
}

.lorem {
  margin-left: 2rem;
  margin-top: -1.3rem;
  color: #fff;
  font-size: 1rem;
}

.mobile {
  margin-left: 8rem;
}

.about li, .contact-us li {
  list-style: none;
  color: #fff;
  margin-bottom: 1rem;
}

.phone-contact span, .email-contact span {
  font-size: 1rem;
  margin-left: 1rem;
}

.phone-contact {
  margin-bottom: 2rem;
}

/* contact */

.contact {
  width: 50%;
  height: 200px;
  border-radius: 10px;
  background-color: #1B212F;
  margin-bottom: 2rem;
  transform: translate(40%, 50%);
  padding: 2rem 5rem;
}

.contact h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  margin-left: 10rem;
}

.contact p {
  font-size: 15px;
  color: #fff;
}

.submit input, .submit button {
  width: 50%;
  height: 30px;
  border-radius: 30px;
  border: 0;
}

.submit input {
  padding-left: 2rem;
}

.submit button {
  width: 150px;
  margin-left: 2rem;
  color: #fff;
  background-color: #8CDAE2;
}

.submit {
  margin-bottom: 5px;
}


.contact span {
  font-size: 12px;
  color: red;
}